* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #fafafa;
    color: #3a3a3a;
}

a {
    color: inherit;
    text-decoration: none;
    margin: 0 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 8px 0px #2b2b2b38;
    padding: 0 80px 0 40px;
    height: 70px;
    background-color: white;
}


/* DEBUT SECTION NUMERO 2 */

main .section1 {
    padding: 80px 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .section1 h1 {
    margin: -100px 0 40px 0;
    font-size: 3rem;
}

main .section1 p {
    font-size: 18px;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #888888;
}

main .section1 img {
    width: 40%;
}


/* FIN SECTION NUMERO 1 */


/* 
*****************************
*****************************
*****************************
*/


/* DEBUT SECTION NUMERO 2 */

main .section2 {
    background-color: rgb(213, 238, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
}

main .section2 p {
    width: 600px;
    text-align: center;
    font-size: 18px;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #2b2b2b;
}


/* FIN SECTION NUMERO 2 */


/* 
*****************************
*****************************
*****************************
 */


/* PARTIE INSCRIPTION */

form {
    padding: 60px 60px 80px 60px;
    border-radius: 25px;
    background-color: #fefefe;
    box-shadow: 0px 0px 20px 0px #41414123;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h3 {
    font-size: 35px;
    text-shadow: 2px 1px 0px #000000;
    margin-bottom: 20px;
}

form h4 {
    margin-bottom: 40px;
    letter-spacing: 2px;
}

#red {
    color: rgb(255, 81, 81);
}

#yellow {
    color: rgb(42, 138, 255);
}

#green {
    color: rgb(3, 181, 3);
}

#error {
    width: 200px;
    font-size: 12px;
    color: tomato;
    text-align: center;
}

.error {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15em;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
}

form input {
    width: 280px;
    height: 40px;
    margin: 10px 0;
    background: none;
    outline: none;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    padding-left: 20px;
    transition: 1s;
}

form input:focus {
    background-color: #dfdfdf7c;
    transform: scale(1.2);
}

form input[type="submit"] {
    width: 140px;
    height: 40px;
    margin: 10px 0;
    padding-left: 0;
}

form input[type="submit"]:hover {
    background-color: #3a3a3a;
    color: white;
}

form input[type="submit"]:focus {
    background-color: #3a3a3a;
    transform: scale(1.1);
}


/* FIN PARTIE D'INSCRIPTION */


/* 
****************************
****************************
****************************
*/


/* PARTIE PROFIL */


/* DEBUT PARTIE PROFIL */

.maj {
    text-transform: uppercase;
}

.profil {
    background-color: #fefefe;
    box-shadow: 0px 0px 20px 0px #41414123;
    padding: 60px 60px 80px 60px;
    border-radius: 25px;
    height: 500px;
    width: 500px;
}

.form_profil {
    padding: 40px 0;
    border-radius: 0;
    background: none;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.form_profil input[type="submit"] {
    width: 200px;
    padding: 0 5px;
    margin: 10px;
}

.infoperso {
    margin: 40px 0;
}

.change {
    padding: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;
}

.change input {
    margin: 0;
}

.delete {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FIN PARTIE PROFIL */


/* DEBUT PARTIE LIVRE-OR */

.section4 {
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.comment {
    padding: 20px 40px 20px 40px;
    margin: 20px;
    border-radius: 25px;
    background-color: #fefefe;
    box-shadow: 0px 0px 20px 0px #41414123;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
}


/* FIN PARTIE LIVRE-OR */


/* DEBUT PARTIE COMMENTAIRE */

textarea {
    outline: none;
    padding: 20px;
    width: 600px;
    resize: none;
}


/* FIN PARTIE COMMENTAIRE */


/* DEBUT FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -4px 8px 0px #2b2b2b38;
    height: 70px;
    background-color: white;
}


/* FIN FOOTER */

@media screen and (max-width: 950px) {
    main .section1 {
        flex-wrap: wrap;
        justify-content: center;
    }
    main .section1 h1 {
        margin: 0 0 40px 0;
        text-align: center;
    }
    main .section1 p {
        text-align: center;
    }
    main .section1 img {
        width: 80%;
    }
}

@media screen and (max-width: 570px) {
    main .section1 h1 {
        font-size: 2rem;
    }
    main .section1 p {
        width: auto;
    }
    main .section1 img {
        width: 100%;
    }
}